*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Top Bar */

.top-bar{
    background:black;
    color:white;
    text-align:center;
    padding:10px;
    font-size:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    background:white;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
    position:sticky;
    top:0;
}

.logo img{
    width:170px;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:30px;
}

.nav-links a{
    text-decoration:none;
    color:#0d2b66;
    font-weight:bold;
    transition:.3s;
}

.nav-links a:hover{
    color:#d40000;
}

/* Hero */

.hero{
    height:90vh;
    background:url("college.jpg") center/cover no-repeat;
    position:relative;
}

.overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.55);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.overlay h1{
    font-size:55px;
    margin-bottom:20px;
}

.overlay p{
    width:60%;
    font-size:22px;
    line-height:35px;
}

.btn{
    margin-top:30px;
    padding:15px 35px;
    background:#d40000;
    color:white;
    text-decoration:none;
    border-radius:5px;
    transition:.3s;
}

.btn:hover{
    background:white;
    color:#d40000;
}

/* Welcome */

.welcome{
    padding:70px 10%;
    background:white;
    text-align:center;
}

.welcome h2{
    color:#0d2b66;
    font-size:40px;
    margin-bottom:20px;
}

.welcome p{
    font-size:18px;
    line-height:30px;
    color:#555;
}

/* Footer */

footer{
    background:#0d2b66;
    color:white;
    margin-top:40px;
}

.footer-container{
    display:flex;
    justify-content:space-around;
    padding:50px 8%;
    flex-wrap:wrap;
}

.footer-box{
    width:300px;
    margin-bottom:20px;
}

.footer-box h3{
    margin-bottom:15px;
    color:#ffc107;
}

.footer-box a{
    display:block;
    color:white;
    text-decoration:none;
    margin:8px 0;
}

.footer-box a:hover{
    color:#ffc107;
}

.copyright{
    text-align:center;
    padding:20px;
    background:#081c44;
}